@import "../../styles/app.scss";

.AboutPage__mobile {

  display: block;

  @include common-bp(tablet) {
    display: none;
  }
}

.AboutPageNew {

  display: none;

  @include common-bp(tablet) {
    display: block;
  }

  cursor: none;
  overflow: hidden;

  &__cursor {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: color('solitude');
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition:  width 0.25s, height 0.25s;

    &--is-down{
      width: 25px;
      height:  25px;
    }
  }

  &__canvas {
    mix-blend-mode: lighten;
  }

  &__paragraph-top {
    font-size: 3rem;
    user-select: none;
    z-index: 5;

    @media ($small-down) {
      font-size: 3rem;
    }

    &--span-hide {
      opacity: 0;
    }
  }

  &__paragraph-bottom{
    bottom: 0;
    right: 0;
    user-select: none;
    z-index: 5;
  }
}
