@import "../../styles/app.scss";

.AboutPageNew {
  cursor: none;

  &__cursor {
    // top: 50%;
    // left: 50%;
    width: 10px;
    height: 10px;
    background-color: #29044a;
    border-radius: 50%;
    // transform: translate(-50%, -50%);
    transition:  width 0.25s, height 0.25s;

    &--is-down{
      width: 80px;
      height:  80px;
    }
  }

  &__canvas--in {
    border: 1px solid black;
  }
}