@import "../../styles/app.scss";

.MusicShow {
  background-image: linear-gradient(45deg,#8795e8,#ff6ad5);
  height: 100%;

  padding: 1rem;

  margin-top: 1rem;
  margin-left: -1rem;
  margin-bottom: 1rem;
  margin-right: -1rem;

  @include common-bp(tablet) {
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  img {
    width: 100%;
  }

  &__details-container {
    margin: 0;
  }

  &__links-container {
    @include anchor-white;
  }

  &__headline {
    font-size: 2rem;

    @include common-bp(tablet) {
      font-size: 1rem;
    }
  }

  &__subheadline {
    font-size: 1.3rem;

    @include common-bp(tablet) {
      font-size: 1rem;
    }
  }
}
