@import "../../styles/app.scss";


.MusicShow {
  flex-direction: column;

  @media ($medium-up) {
    flex-direction: row;
  }

  img {
    width: 100%;
  }

  svg {
    width: 25px;

    @media ($medium-up) {
      width: 30px;
    }
    @media ($large-up) {
      width: 45px;
    }
  }

  &__details-container {
    margin: 0;

    @media ($medium-up) {
      margin-left: 4rem;
    }
  }

  &__headline {
    font-size: 2rem;

    @media ($medium-up) {
      font-size: 3rem;
    }
  }

  &__subheadline {
    font-size:1.3rem;

    @media ($medium-up) {
      font-size: 2rem;
    }
  }
}
