@import "../../../../styles/app.scss";

.MusicHero {
  height: 75vh;

  &__headline {
    font-size: 1.5rem;
    animation: slide-right-wide $transition-duration-long;

    @include common-bp(tablet) {
      font-size: 2rem;
    }
  }

  &__sub-headline {
    animation: slide-left-wide $transition-duration-long;
    font-size: 1.25rem;
  }
}
