@import "../../../styles/app.scss";

.Footer {
  @include anchor-black;

  &__list {
    display: none;

    @include common-bp(tablet) {
      width: 70%;
      display: flex;
      font-size: 1rem;
    }
  }

  &__small-container {
    width: 100%;
    justify-content: flex-start;

    @include common-bp(tablet) {
      width: 30%;
      justify-content: flex-end;
    }
  }

  &__small {
    font-size: 12px;
  }
}
