.heading-serif {
  font-family: 'Lora', serif;
}

.body-serif {
  font-family: 'Merriweather', serif;
}

.code-font {
  font-family: 'Inconsolata', monospace;
}

.music-font {
  font-family: 'Cedarville Cursive', cursive;
}

.moodboard-font {
  font-family: 'Indie Flower', cursive;
}

.contact-font {
  font-family: 'Amatic SC', cursive;
}
