.center-background-img {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.text-decoration-none {
  text-decoration: none;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}

.overflow-hidden {
  overflow: hidden;
}

.prevent-scroll {
  overflow: hidden;
  position: relative;
 }

.pointer {
  cursor: pointer;
}

.margin-auto {
  margin: 0 auto;
}

.display-none {
  display: none;
}

.list-style-none {
  list-style: none;
}

.go-home {
  font-size: 1.1rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.rem {
  font-size: 1.25rem;

  @media (max-width: $screen-l) and (min-width: $screen-m) {
    font-size: .8rem;
  }

  @media ($large-up) {
    font-size: 1.5rem;
  }
}
