@import "../../../styles/app.scss";

.MusicProject {
  margin-left: -1rem;
  margin-right: -1rem;

  @include common-bp(tablet) {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  img {
    width: 100%;

    @include common-bp(desktop) {
      width: 50%;
      margin-right: 0.5rem;
    }
  }

  a {
    @include common-bp(desktop) {
      &:hover {
        text-decoration: none !important;
      }
    }
  }

  &__links-container {
    @include anchor-white;
  }

  // &__links-container {
  //   &--inner {

  //   }
  // }

  &__go-back-container {
    bottom: 1rem;

    @include common-bp(desktop) {
      bottom: 2rem;
    }
  }
}
