@import "../../../styles/app.scss";

.HomePage {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include common-bp(tablet) {
    margin-bottom: 0;
  }

  &__top-left {
    -webkit-animation: slide-right $transition-duration-med;
    -moz-animation: slide-right $transition-duration-med;
    -ms-animation: slide-right $transition-duration-med;
    -o-animation: slide-right $transition-duration-med;
    animation: slide-right $transition-duration-med;
    margin-bottom: 0.25rem;
    height: 48%;
  }

  &__bottom-left {
    -webkit-animation: slide-right-wide $transition-duration-mid;
    -moz-animation: slide-right-wide $transition-duration-mid;
    -ms-animation: slide-right-wide $transition-duration-mid;
    -o-animation: slide-right-wide $transition-duration-mid;
    animation: slide-right-wide $transition-duration-mid;
    margin-top: 0.25rem;
    height: 48%;
  }

  &__top-right {
    -webkit-animation: slide-left $transition-duration-med;
    -moz-animation: slide-left $transition-duration-med;
    -ms-animation: slide-left $transition-duration-med;
    -o-animation: slide-left $transition-duration-med;
    animation: slide-left $transition-duration-med;
    height: 48%;
  }

  &__bottom-right {
    -webkit-animation: slide-left-wide $transition-duration-mid;
    -moz-animation: slide-left-wide $transition-duration-mid;
    -ms-animation: slide-left-wide $transition-duration-mid;
    -o-animation: slide-left-wide $transition-duration-mid;
    animation: slide-left-wide $transition-duration-mid;
    height: 48%;
  }
}
