@import "../../../styles/app.scss";

.HomePage {
  &__top-left {
    animation: slide-right $transition-duration-med;
    height: 48%;
  }

  &__bottom-left {
    animation: slide-right-wide $transition-duration-mid;
    height: 48%;
  }

  &__top-right {
    animation: slide-left $transition-duration-med;
    height: 48%;
  }

  &__bottom-right {
    animation: slide-left-wide $transition-duration-mid;
    height: 48%;
  }
}
