@import "../../styles/app.scss";

.HomePage {
  height: 76vh;

  &__top-left {
    animation: slide-right $transition-duration-med;
    margin-bottom: .25rem;
  }

  &__bottom-left {
    animation: slide-right-wide $transition-duration-mid;
    margin-top: .25rem;
  }

  &__top-right {
    animation: slide-left $transition-duration-med;
  }

  &__bottom-right {
    animation: slide-left-wide $transition-duration-mid;
  }
}
