@import "../../styles/app.scss";

.HomeBox {
  border: 2px solid color('black');
  height: 100%;

  &:hover .HomeBox__overlay {
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    font-size: 3rem;
    color: color('black');
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;
  }

  &__header {
    font-size: 1.5rem;
    
    @media (min-width: 20rem) {
      font-size: 3.5rem;
    }
  }
}
