@import "../../styles/app.scss";

.HomeBox {
  border: 2px solid black;
  height: 38vh;

  svg {
    width: 100%;
    height: 100%;
  }

  &__container:hover .HomeBox__overlay {
    opacity: 1;
  }

  &__overlay {
    top: 50%;
    bottom: 50%;
  }
}
