@import "../../styles/app.scss";

.ScrollToTop {
  &__button {
    background: transparent;
    bottom: 1rem;
    right: 1rem;
    border: .05rem solid color('black');
    animation: fadein $transition-duration-short;
  }
}
