@import "../../styles/app.scss";

.ScrollToTop {
  &__button {
    bottom: 1rem;
    right: 1rem;
    border: .05rem solid color('black');
    -webkit-animation: fadein $transition-duration-short;
    -moz-animation: fadein $transition-duration-short;
    -ms-animation: fadein $transition-duration-short;
    -o-animation: fadein $transition-duration-short;
    animation: fadein $transition-duration-short;
  }
}
