@import "../../styles/app.scss";

.MobileNav {
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;

  li {
    font-size: 1.5rem;
  }
}