@import "../../styles/app.scss";

.MobileNav {
  width: 210px;
  height: 100vh;
  display: block;
  overflow-y: scroll;

  @include common-bp(tablet) {
    display: none;
  }

  &__close-icon {
    width: 40px;
  }

  &__list-item {
    font-size: 1rem;
  }

  &__hr {
    width: 50%;
    border: 0.5px solid color('black');
  }
}
