@import "../../../styles/app.scss";

.SignUpForm {
  input {
    display: block;
    font-size: 1.5rem;
    border: 1px solid color("black");
    border-radius: 0;
  }

  #inputOne,
  #inputThree {
    -webkit-animation: slide-right $transition-duration-med;
    -moz-animation: slide-right $transition-duration-med;
    -ms-animation: slide-right $transition-duration-med;
    -o-animation: slide-right $transition-duration-med;
    animation: slide-right $transition-duration-med;
  }

  #inputTwo {
    -webkit-animation: slide-left $transition-duration-med;
    -moz-animation: slide-left $transition-duration-med;
    -ms-animation: slide-left $transition-duration-med;
    -o-animation: slide-left $transition-duration-med;
    animation: slide-left $transition-duration-med;
  }

  &__button {
    border: 1px solid color("black");
    font-size: 1.2rem;
    -webkit-animation: slide-up $transition-duration-med;
    -moz-animation: slide-up $transition-duration-med;
    -ms-animation: slide-up $transition-duration-med;
    -o-animation: slide-up $transition-duration-med;
    animation: slide-up $transition-duration-med;
  }

  &__message {
    -webkit-animation: fadein $transition-duration-short;
    -moz-animation: fadein $transition-duration-short;
    -ms-animation: fadein $transition-duration-short;
    -o-animation: fadein $transition-duration-short;
    animation: fadein $transition-duration-short;
  }

  &__h3 {
    text-align: center;
  }
}

.drop-down {
  padding-top: calc(4rem + #{$message-height});
}
