@import "../../styles/app.scss";

.Moodboard {

  img {
    width: 100%;
  }

  &__content {
    flex-direction: column;

    div:first-of-type > img {
      margin-bottom: .5rem;
    }

    @media ($medium-up) {
      flex-direction: row;

      div:first-of-type > img {
        margin-bottom: 0;
      }
    }
  }
}
