.Moodboard {
  img {
    width: 100%;
  }

  &__content {
    flex-direction: column;

    div:first-of-type > img {
      margin-bottom: .5rem;
    }

    @media (min-width: 52rem) {
      flex-direction: row;

      div:first-of-type > img {
        margin-bottom: 0;
      }
    }
  }
}
