@import "../../../styles/app.scss";

.Code {
  &__title-container {
    flex-direction: column;

    a {
      text-decoration: underline;
    }

    @include common-bp(tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title-container-inner {
    flex-direction: column;
  }

  p {
    line-height: 1.69;
  }

  &__list-link-container {
    max-width: 60rem;
    margin-top: 1rem;
  }

  &__list-links-container {
    flex-wrap: wrap;
    margin-top: 1rem;

    @include common-bp(tablet) {
      padding-top: 2rem;
      border: 1px solid color("black");
    }
  }

  &__markdown {
    font-family: "Courier", serif;
  }
}

.Code__project:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.Code__project:last-of-type {
  margin-bottom: 1rem;
}
