@import "../../../styles/app.scss";

.Header {
  @include anchor-black;

  &__desktop-nav,
  &__sub-headline {
    display: none;
    font-size: 1rem;

    @include common-bp(tablet) {
      display: block;
    }
  }

}
