@import "../../../styles/app.scss";

.Header {
  @include anchor-black;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    flex-direction: column;
  }

  &__desktop-nav,
  &__sub-headline {
    display: none;
    font-size: 1rem;

    @include common-bp(tablet) {
      display: block;
    }
  }

  &__sub-headline {
    padding: 4px 0 4px 0;
  }
}
