@import "../../styles/app.scss";

.Code {

  @include anchor-black;

  &__title-container {
    flex-direction: column;

    a {
      text-decoration: underline;
    }

    @include common-bp(tablet) {
      flex-direction: row;
    }
  }

  p {
    line-height: 1.29;
  }

  &__project {
    border: 1px solid color('black');
    max-width: 60rem;
    margin-top: 1rem;

    &__title {
      font-size: 1.4rem;

      @include common-bp(tablet) {
        font-size: 2rem;
      }
    }

    &-timeline {
      margin-top: 0.5rem;

      @include common-bp(tablet) {
        margin-left: .5rem;
      }
    }
  }
}

.Code__project:first-of-type{
  margin-top: 0;
  margin-bottom: 0;
}

.Code__project:last-of-type{
  margin-bottom: 1rem;
}
