@import "../../styles/app.scss";

.Code {

  &__title-container {
    flex-direction: column;

    @media ($medium-up) {
      flex-direction: row;
    }
  }

  &__project {
    border: 1px solid color('black');
    max-width: 60rem;
    margin-top: 1rem;

    &__title {
      font-size: 1.4rem;

      @media ($medium-up) {
        font-size: 2rem;
      }
    }

    &-timeline {
      margin: 0;

      @media ($medium-up) {
        margin-left: .5rem;
        margin-top: 1rem;
      }
    }
  }
}

.Code__project:first-of-type{
  margin-top: 0;
  margin-bottom: 0;
}

.Code__project:last-of-type{
  margin-bottom: 1rem;
}
