/*------------------------------------*\
  #MEDIA-QUERY-POINTS
\*------------------------------------*/

$common-media-query-points-cg: (

  "mobile":           320px,

  "tablet":           720px,
  "tablet-down":      719px,

  "desktop":          1024px,
  "desktop-down":     1023px,

  "desktop-max":      1440px,
  "desktop-max-down": 1439px

);

/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

$common-media-queries-cg: (
  "mobile":      "(min-width: #{map-get($common-media-query-points-cg, 'mobile')})",
  "tablet":      "(min-width: #{map-get($common-media-query-points-cg, 'tablet')})",
  "desktop":     "(min-width: #{map-get($common-media-query-points-cg, 'desktop')})",
  "desktop-max": "(min-width: #{map-get($common-media-query-points-cg, 'desktop-max')})"
);

@mixin common-bp-cg($point) {

	@media #{map-get($common-media-queries-cg, $point)}{
		@content;
	}
}


.col-1-dh {
  width: calc(100% * 1/12);
}
.col-2-dh {
  width: calc(100% * 2/12);
}
.col-3-dh {
  width: calc(100% * 3/12);
}
.col-4-dh {
  width: calc(100% * 4/12);
}
.col-5-dh {
  width: calc(100% * 5/12);
}
.col-6-dh {
  width: calc(100% * 6/12);
}
.col-7-dh {
  width: calc(100% * 7/12);
}
.col-8-dh {
  width: calc(100% * 8/12);
}
.col-9-dh {
  width: calc(100% * 9/12);
}
.col-10-dh {
  width: calc(100% * 10/12);
}
.col-11-dh {
  width: calc(100% * 11/12);
}
.col-12-dh {
  width: calc(100% * 12/12);
}

.md-col-1-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 1/12);
  }
}
.md-col-2-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 2/12);
  }
}
.md-col-3-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 3/12);
  }
}

.md-col-4-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 4/12);
  }
}
.md-col-5-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 5/12);
  }
}
.md-col-6-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 6/12);
  }
}
.md-col-7-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 7/12);
  }
}
.md-col-8-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 8/12);
  }
}
.md-col-9-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 9/12);
  }
}
.md-col-10-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 10/12);
  }
}
.md-col-11-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 11/12);
  }
}
.md-col-12-dh {
  @include common-bp-cg(tablet) {
    width: calc(100% * 12/12);
  }
}

.lg-col-1-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 1/12);
  }
}
.lg-col-2-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 2/12);
  }
}
.lg-col-3-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 3/12);
  }
}

.lg-col-4-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 4/12);
  }
}
.lg-col-5-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 5/12);
  }
}
.lg-col-6-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 6/12);
  }
}
.lg-col-7-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 7/12);
  }
}
.lg-col-8-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 8/12);
  }
}
.lg-col-9-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 9/12);
  }
}
.lg-col-10-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 10/12);
  }
}
.lg-col-11-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 11/12);
  }
}
.lg-col-12-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 12/12);
  }
}

.lg-col-1-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 1/12);
  }
}
.lg-col-2-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 2/12);
  }
}
.lg-col-3-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 3/12);
  }
}

.xl-col-4-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 4/12);
  }
}
.xl-col-5-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 5/12);
  }
}
.xl-col-6-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 6/12);
  }
}
.xl-col-7-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 7/12);
  }
}
.xl-col-8-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 8/12);
  }
}
.xl-col-9-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 9/12);
  }
}
.xl-col-10-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 10/12);
  }
}
.xl-col-11-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 11/12);
  }
}
.xl-col-12-dh {
  @include common-bp-cg(desktop) {
    width: calc(100% * 12/12);
  }
}
