@font-face {
  font-family: "lack_italic";
  src: url("./fonts/lack-italic-webfont.woff2") format("woff2"),
    url("./fonts/lack-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.lack-italic {
  font-family: "lack_italic", serif;
}

.body-serif {
  font-family: "Lora", serif;
}
