@import './reset.scss';
@import './settings/colors';
@import './settings/functions';
@import './settings/variables';
@import './styleguide.scss';
@import './utils.scss';
@import './aspects.scss';
@import './transitions.scss';
@import './fonts.scss';
@import './composable-grid.scss';

.App {

  &__container {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include common-bp(tablet) {
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
