@import "../../styles/app.scss";

.MusicPage {

  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    color: color('black');
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;
  }

  &__container {
    &:hover .MusicPage__overlay {
      opacity: .95;
    }
  }
}
