@import "../../styles/app.scss";

.MusicPage {
  margin-left: -3rem;
  margin-right: -3rem;

  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;
  }

  &__container {
    &:hover .MusicPage__overlay {
      opacity: .95;
    }
  }

  &__hero {
    height: 75vh;
  }

  &__hero-text {

    &--headline {
      -webkit-animation: slide-right-wide $transition-duration-long;
      -moz-animation: slide-right-wide $transition-duration-long;
      -ms-animation: slide-right-wide $transition-duration-long;
      -o-animation: slide-right-wide $transition-duration-long;
      animation: slide-right-wide $transition-duration-long;

      font-size: 1.5rem;

      top: 2rem;
      left: 3.5rem;

      @media ($large-up) {
        font-size: 2rem;
      }
    }

    &--sub-headline {
      -webkit-animation: slide-left-wide $transition-duration-long;
      -moz-animation: slide-left-wide $transition-duration-long;
      -ms-animation: slide-left-wide $transition-duration-long;
      -o-animation: slide-left-wide $transition-duration-long;
      animation: slide-left-wide $transition-duration-long;

      bottom: 2rem;
      right: 3.5rem;

      font-size: 1.25rem;
      text-align: right;
      display: none;

      @media (max-width: $screen-l) and (min-width: $screen-m) {
        font-size: 2rem;
        display: flex;
      }

      @media ($large-up) {
        font-size: 2.5rem;
        display: flex
      }
    }
  }

  &__projects-container {
    flex-direction: column;
    flex-wrap: wrap;

    @include common-bp (tablet) {
      flex-direction: row;
    }
  }

  &__artist {
    font-size: 1.5rem;
  }

  &__role {
    font-size: 1.1rem;
  }
}

.rem {
  font-size: 1.25rem;
  @media (max-width: $screen-l) and (min-width: $screen-m) {
    font-size: .8rem;
  }
  @media ($large-up) {
    font-size: 1.5rem;
  }
}
