@import "../../styles/app.scss";

.MusicPage {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include common-bp(tablet) {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    text-align: center;
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;
    display: none;

    @include common-bp(tablet) {
      display: flex;
    }
  }

  &__container {
    margin: 0;
    flex-direction: column;

    @include common-bp(tablet) {
      margin: 0 1rem;
      flex-direction: row;
    }

    &:hover .MusicPage__overlay {
      opacity: .95;
    }
  }

  &__hero {
    height: 75vh;
  }

  &__hero-text {

    &--headline {
      -webkit-animation: slide-right-wide $transition-duration-long;
      -moz-animation: slide-right-wide $transition-duration-long;
      -ms-animation: slide-right-wide $transition-duration-long;
      -o-animation: slide-right-wide $transition-duration-long;
      animation: slide-right-wide $transition-duration-long;

      font-size: 1.5rem;

      top: 2rem;
      left: 3.5rem;

      @include common-bp(tablet) {
        font-size: 2rem;
      }
    }

    &--sub-headline {
      -webkit-animation: slide-left-wide $transition-duration-long;
      -moz-animation: slide-left-wide $transition-duration-long;
      -ms-animation: slide-left-wide $transition-duration-long;
      -o-animation: slide-left-wide $transition-duration-long;
      animation: slide-left-wide $transition-duration-long;

      bottom: 2rem;
      right: 3.5rem;

      font-size: 1.25rem;
      text-align: right;
      display: none;

      @media (max-width: $screen-l) and (min-width: $screen-m) {
        font-size: 2rem;
        display: flex;
      }

      @include common-bp(tablet) {
        font-size: 2.5rem;
        display: flex
      }
    }
  }

  &__projects-container {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    background-image: linear-gradient(90deg,#ff6ad5,#8795e8);

    @include common-bp (tablet) {
      padding: 2rem 2rem 0 2rem;
      flex-direction: row;
    }
  }

  &__project {
    margin-bottom: 1rem;

    @include common-bp(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin: 4px 0;
    font-size: 1.5rem;
  }

  &__artist {
    margin: 4px 0;
    font-size: 1.5rem;
  }

  &__role {
    margin: 4px 0;
    font-size: 1rem;
  }

  &__mobile-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include anchor-white;

    a {
      text-decoration: underline;
    }

    @include common-bp(tablet) {
      display: none;
    }
  }
  &__mobile-details-container-release {
    margin: 4px 0;
    text-align: right;
  }
  &__mobile-details-container-role {
    margin: 4px 0;
  }
}
