@import "../../styles/app.scss";

.MusicPage {
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;

  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    color: color('black');
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;
  }

  &__container {
    &:hover .MusicPage__overlay {
      opacity: .95;
    }
  }

  &__coming-soon-block {
    height: 75vh;
  }

  &__coming-soon-text {
    font-size: 3rem;

    @media ($medium-up) {
      font-size: 4rem;
    }

    &--title {
      -webkit-animation: slide-right-wide $transition-duration-long;
      -moz-animation: slide-right-wide $transition-duration-long;
      -ms-animation: slide-right-wide $transition-duration-long;
      -o-animation: slide-right-wide $transition-duration-long;
      animation: slide-right-wide $transition-duration-long;
    }

    &--message {
      -webkit-animation: slide-left-wide $transition-duration-long;
      -moz-animation: slide-left-wide $transition-duration-long;
      -ms-animation: slide-left-wide $transition-duration-long;
      -o-animation: slide-left-wide $transition-duration-long;
      animation: slide-left-wide $transition-duration-long;
    }
  }

  &__coming-soon-sub-text {
    font-size: 1.25rem;
    text-align: right;
    display: none;

    @media (max-width: $screen-l) and (min-width: $screen-m) {
      font-size: 2rem;
      display: flex;
    }

    @media ($large-up) {
      font-size: 2.5rem;
      display: flex
    }
  }

  &__title {
    font-size: 1.5rem;

    @media ($large-up) {
      font-size: 2rem;
    }
  }

  &__artist {
    font-size: 1.5rem;
  }

  &__role {
    font-size: 1.1rem;
  }
}
