@import "../../../styles/app.scss";

.Contact {
  @include anchor-black;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include common-bp(tablet) {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}
