@import "../../../../styles/app.scss";

.ProjectPreview {
  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    transition: opacity $transition-duration-ultra-short ease-in-out;
  }

  &__container {
    &:hover .ProjectPreview__overlay {
      opacity: 0.95;
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__artist {
    font-size: 1.25rem;
  }

  &__role {
    font-size: 1rem;
  }

  &__mobile-details {
    @include anchor-white;

    a {
      text-decoration: underline;
    }
  }
}
