@import "../../styles/app.scss";

.Contact {
  height: 74.5vh;
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;
}
