@import "../../styles/app.scss";

.Header {
  @include anchor-black;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    flex-direction: column;
  }

  &__desktop-nav,
  &__sub-headline {
    display: none;
    font-size: 1rem;

    @include common-bp(tablet) {
      display: block;
    }
  }

  &__sub-headline {
    padding: 4px 0 4px 0;
  }

  &__mobile-nav-toggle {
    display: block;
    font-size: 1.2rem;

    @include common-bp(tablet) {
      display: none;
    }
  }

  &__mobile-nav {
    z-index: 5;
    transform: translateX(226px);
    right: 0;
    top: 0;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;

    &--active {
      transform: translateX(0);
      position: fixed;
    }
  }
}
