@import "../../styles/app.scss";

.Header {
  @include anchor-black;

  &__title {
    display: flex;
    align-items: center;
    font-size: 0.5rem;

    @media (min-width: 20rem) {
      font-size: 1rem;
    }

    @media ($small-up) {
      display: block;
    }

  }

  &__desktop-nav {
    display: none;

    @media (min-width: 40.01rem) {
      display: block;
    }
  }

  &__mobile-nav-toggle {
    display: none;
    font-size: 0.75rem;

    @media (min-width: 20rem) {
      font-size: 1rem;
    }

    @media (max-width: 40rem) {
      display: block;
    }
  }

  &__mobile-nav {
    z-index: 5;
    transform: translateX(100%);
    right: 0;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;

    &--active {
      transform: translateX(0);
      position: fixed;
    }
  }
}
