@import "../../../../styles/app.scss";

.TopCodeProject {
  border: 1px solid color("black");
  max-width: 60rem;

  &__a {
    text-decoration: underline;
    color: color("black");

    &:visited {
      color: color("black");
    }
  }

  &__title {
    font-size: 1.4rem;

    @include common-bp(tablet) {
      font-size: 2rem;
    }
  }

  &__img {
    margin: 0rem auto 1rem auto;

    @include common-bp(tablet) {
      margin: unset;
    }
  }

  &__content {
    a {
      text-decoration: underline;
      color: color("black");

      &:visited {
        color: color("black");
      }
    }
    p {
      margin: 0.5rem 0;
    }
  }
}
