@import "../../../styles/app.scss";

.About {
  &__go-home-container {
    height: 3rem;
  }

  &__text {
    max-width: 75%;
    margin: 2rem 0;

    @include common-bp(desktop) {
      margin: 0;
      padding: 1rem;
    }
  }

  &__paragraph {
    line-height: 1.69;
  }

  &__img-container {
    height: 65vh;

    @include common-bp(desktop) {
      height: 100%;
    }
  }
}
