@import "../../../styles/app.scss";

.AboutPage {
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;

  img {
    width: 100%;
    border-radius: 50%;
  }

  p {
    font-size: 1rem;
    text-align: center;

    @media ($medium-up) {
      font-size: 1.75rem;
      text-align: left;
    }
  }
}
