@import "../../../styles/app.scss";

.Moodboard {
  margin-top: 1rem;
  margin-bottom: 1rem;

  img {
    width: 100%;
  }

  &__content {
    flex-direction: column;

    div:first-of-type > img {
      margin-bottom: 0.5rem;
    }

    @media ($medium-up) {
      flex-direction: row;

      div:first-of-type > img {
        margin-bottom: 0;
      }
    }
  }
}
