@import "../../styles/app.scss";

.Footer {
  &__list {
    -webkit-animation: fadein $transition-duration-long;
    -moz-animation: fadein $transition-duration-long;
    -ms-animation: fadein $transition-duration-long;
    -o-animation: fadein $transition-duration-long;
    animation: fadein $transition-duration-long;
  }

  &__small {
    -webkit-animation: fadein $transition-duration-long;
    -moz-animation: fadein $transition-duration-long;
    -ms-animation: fadein $transition-duration-long;
    -o-animation: fadein $transition-duration-long;
    animation: fadein $transition-duration-long;
  }

  @include anchor-black;
}
