@import "../../../styles/app.scss";

.NotFound {
  @include anchor-black;

  padding-top: 1rem;
  padding-bottom: 1rem;

  @include common-bp(tablet) {
    padding-bottom: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: underline;
  }

  &__inner {
    justify-content: center;
  }

  &__sub-headline {
    text-align: center;
  }
}
