@import "../../../styles/app.scss";

.Music {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include common-bp(tablet) {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    opacity: 0;
    text-align: center;
    transition: opacity $transition-duration-ultra-short ease-in-out;
    display: none;

    @include common-bp(tablet) {
      display: flex;
    }
  }

  &__container {
    margin: 0;
    flex-direction: column;

    @include common-bp(tablet) {
      margin: 0 1rem;
      flex-direction: row;
    }

    &:hover .MusicPage__overlay {
      opacity: 0.95;
    }
  }

  &__projects-container {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    background-image: linear-gradient(90deg, #ff6ad5, #8795e8);

    @include common-bp(tablet) {
      padding: 2rem 2rem 0 2rem;
      flex-direction: row;
    }
  }

  &__project {
    margin-bottom: 1rem;

    @include common-bp(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin: 4px 0;
    font-size: 1.5rem;
  }

  &__artist {
    margin: 4px 0;
    font-size: 1.25rem;
  }

  &__role {
    margin: 4px 0;
    font-size: 1rem;
  }

  &__mobile-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include anchor-white;

    a {
      text-decoration: underline;
    }

    @include common-bp(tablet) {
      display: none;
    }
  }

  &__mobile-details-container-release {
    margin: 4px 0;
  }

  &__mobile-details-container-role {
    margin: 4px 0;
  }

  &__select-container {
    margin-bottom: 1rem;

    @include common-bp(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__label {
    margin-bottom: 4px;
    font-size: 1.25rem;
  }

  &__select {
    font-size: 1.25rem;
  }
}
