@import "../../styles/app.scss";

.AboutPage {
  img {
    width: 100%;
  }

  &__item {
    font-size: 2.75rem;
    color: color('silver-sand');
    margin-left: .5rem;
    margin-right: .5rem;

    &:hover {
      color: color('black');
      cursor: default;
    }
  }
}
