@import "../../styles/app.scss";

.AboutPage {
  -webkit-animation: fadein $transition-duration-short;
  -moz-animation: fadein $transition-duration-short;
  -ms-animation: fadein $transition-duration-short;
  -o-animation: fadein $transition-duration-short;
  animation: fadein $transition-duration-short;

  img {
    width: 100%;
    border-radius: 50%;
  }

  &__item {
    font-size: 5rem;
    color: color('silver-sand');
    margin-left: .5rem;
    margin-right: .5rem;

    &:hover {
      color: color('black');
      cursor: default;
    }
  }
}
